<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronology</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <script src="path/to/html2pdf.js"></script>
  <div id="mainContainer">
    <div class="leftContainer">
      <h1>Chronology Creator</h1>
      <input type="file" id="pdfUpload" accept="application/pdf">
      <form id="inputForm">
          <textarea id="inputText" rows="28" cols="65" placeholder="Enter Text..."></textarea><br><br>
          <button style="font-size: 20px;" type="submit">Generate Chronology</button>
      </form>
    </div>

    <div class="rightContainer">
      <h1>Output:</h1>
      <div id="optionChecks">
        <label>
          <input type="checkbox" id="showText" onclick="toggleContent()" checked> Show Text
        </label>
        <br>
        <label>
          <input type="checkbox" id="showTimeline" onclick="toggleContent()"> Show Timeline
        </label>
      </div>

      <div class="outputContent" id="textContent">
        <p style="color: black;" id="modelOutput"></p>
      </div>

      <div class="outputContent" id="timelineContent" style="display: none;">
      <h1>Timeline:</h1>
      <button style="font-size: 20px;" id = "download-button"> Download Timeline</button>
      <br>
        <div class="timeline" id = "timeline_download">
        </div>
      </div>
      
    </div>
  </div>
</body>

</html>