<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronology</title>
</head>

<body>
    <h1>Chronology Creator</h1>
    <form id="inputForm">
        <textarea id="inputText" rows="20" cols="70" placeholder="Enter Text..."></textarea><br><br>
        <button type="submit">Generate Chronology</button>
    </form>

    <h2>Chronology:</h2>
    <p id="modelOutput"></p>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>

</html>