/*For the web application styling*/
/*adjust box-sizing of the website*/
* {
    box-sizing: border-box;
}
/*body tag*/
body {
    background-color: #474e5d;
    font-family: Tahoma, sans-serif;
}

/*main container identifier*/
#mainContainer {
    display: flex;
    color: white;
}

/*for pdf upload identifer*/
#pdfUpload {
    margin-bottom: 5px;
}

/*for the text box styling*/
#inputText {
    padding: 20px;
    font-size: 18px;
}

/*for the output chronologies*/
#textContent {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 2px;
}

/*styling for when checklists are clicked on*/
#optionChecks {
    margin-bottom: 20px;
}

/*scrolling options*/
.leftContainer {
    height: 97vh;
    width: 55vw;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*scrolling options*/
.rightContainer {
    height: 97vh;
    width: 45vw;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*for output*/
.outputContainer {
    margin: 20px
}

/*For the visual timeline of the legal chronologies that are generated for our web application*/ 
/*below is partial assistance of w3schools https://www.w3schools.com/howto/howto_css_timeline.asp*/
.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    color: red;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 5px;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 6px solid #00008B;
    top: 15px;
    border-radius: 100%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    color: black;
    position: relative;
    border-radius: 6px;
    border: 3px solid red;
}
